/* 폰트임포트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

/* 안티앨리어싱 설정 */
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-overflow-scrolling: touch;}

/* a속성 */
A:link{text-decoration:none;color:inherit}
A:visited{text-decoration:none;color:inherit}
A:active{text-decoration:none;color:inherit}
A:hover{text-decoration:none;color:inherit}
A:hover span{text-decoration:none}
A:focus,input:focus,button:focus{outline:none}

/* clearfix */
.cf:after{content: ""; display: block; clear: both;}

/* 전체설정 */
html{font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
html, body{width: 100%; height: 100vh; margin: 0; padding: 0; word-break: break-all; text-align: justify; box-sizing: border-box;}
body{overflow-x: hidden; font-weight: normal; font-size: 14px; line-height: 140%;}
b{font-weight: bold;}
hr{margin:80px 0;border-top:1px;border-color:#ccc}
.clear{clear: both;}

/* 컬러설정 */
.bg-blue{background-color: #5363f1;}
.main-blue{color: #5363F1;}
.main-dark-blue{background-color: #34365e;}
.gray2{color: #4f4f4f !important;}

/* Breakpoint */
@media (0px <= width <= 599px) {.xs{display: block;} .xl{display: none;}}
@media (600px <= width <= 10000px) {.xs{display: none;} .xl{display: block;}}

/* Button */
.cta-button{margin-top:70px}
.cta-button .button{width:100%;font-size:18px;font-weight:800;box-sizing:border-box;padding:0px;padding-bottom:2px;text-align:center;border-radius: 4px; color: #FEF8E9; padding: 9px;}
.cta-button .button img{margin-right:5px;height:24px;vertical-align:middle}
.cta-button .button span{height:24px; vertical-align:middle; color:#ffffff;}

/* Header */
#header{overflow: auto; height: 56px;}

.menu-wrap{width: 100vw; height: 56px; position: fixed; z-index: 2;}
.menu{max-width: 1440px; height: 56px; margin: 0 auto;}
.menu .title{height: 32px; float: left; margin-top: 14px; margin-left: 24px;}
.menu .title img{height: 100%;}
.menu .nav{float: right; margin-right: 24px;}
.menu .nav > ul{display: inline-block; margin: 20px 0 0 0; position: relative;}
.menu .nav > ul > li{list-style-type: none; float: left; margin-left: 32px; color: #ffffff; font-size: 16px; font-weight: 600; line-height: 100%; opacity: 0.6;}
.menu .nav > ul > li.on{opacity: 1;}
.menu .nav .my-data{max-width: 192px; display: inline-block; margin-top: 12px; margin-left: 32px; border: 1px solid rgba(255,255,255,0.4); border-radius: 32px; text-align: center; vertical-align: top; position: relative;}
.menu .nav .my-data p{font-size: 14px; line-height: 100%; font-weight: 600; color: #ffffff; padding: 8px 16px; display: inline-block; cursor: pointer; margin: 0;}
.menu .nav .my-data > a{font-size: 14px; line-height: 100%; font-weight: 600; color: #ffffff; padding: 8px 16px; display: inline-block; cursor: pointer; margin: 0;}
.menu .nav .my-data p span{opacity: 0.8;}
.menu .nav .my-data .my-data-menu{display: none; position: absolute; right: 0px; top: 32px; padding-top: 4px;}
.menu .nav .my-data-menu ul{width: 122px; background-color: #FFFFFF; border-radius: 8px; border: 1px solid #e5eafe; padding: 0; margin: 0;}
.menu .nav .my-data-menu ul li{display: block; height: 32px; border-bottom: 1px solid #e5eafe; box-sizing: border-box;}
.menu .nav .my-data-menu ul li:last-child{border-bottom: 0px;}
.menu .nav .my-data-menu ul li a{display: block; font-size: 12px; line-height: 134%; font-style: normal; font-weight: 600; letter-spacing: -0.01em; padding: 8px;}

.nav-btn{float: right; margin: 16px 24px; cursor: pointer;}
.nav-btn-in{position: absolute; left: -40px; top: 16px; cursor: pointer;}

.m-nav-wrap{position: fixed; right: -280px; width: 240px; height: 100vh; background: #ffffff; z-index: 4; text-align: left;}
.m-nav ul{padding: 0; margin-top: 16px; border-top: 1px solid #F6F8FB; border-bottom: 1px solid #F6F8FB;}
.m-nav ul li{list-style: none; border-bottom: 1px solid #f6f8fB; border-left: 4px solid #ffffff;}
.m-nav ul li.on{font-weight: 600; border-left: 4px solid #5363F1;}
.m-nav ul li a{display: block; width: 100%; padding: 14.5px 20px;}
.m-nav ul li:last-child{border-bottom: none;}

.m-my-data{position: absolute; width: 208px; height: 136px; bottom: 0; margin: 16px; text-align: center; box-sizing: border-box; border: 1px solid #e6e5e9; background: #f8faff; border-radius: 16px; color: #828282;} 
.m-my-data dl{margin: 24px;}
.m-my-data dl dt{font-weight: 700; font-size: 16px; line-height: 100%;}
.m-my-data dl dd{margin: 8px 0 0; vertical-align: top; font-size: 16px; font-weight: 600;}
.m-my-data dl dd span{opacity: 0.8;}
.m-my-data dl dd img{vertical-align: bottom;}
.m-my-data dl .logout-btn, .m-my-data dl .login-btn{width: 100px; height: 32px; box-sizing: border-box; border: 1px solid #e6e5e9; border-radius: 8px; margin: 16px auto 0; cursor: pointer; font-size: 14px; font-weight: 700; line-height: 32px;}
.m-my-data .nologin{margin: 24px auto;}
.m-my-data .nologin dt{display: none;}
.m-my-data .nologin dd{font-size: 14px; margin: 0; line-height: 150%;}

.m-nav-dim{display:none; position: fixed; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.4);}


/* Content */
section{overflow-y: auto; overflow-x: hidden; width: 100vw; z-index: 1; background-color: #ffffff;}
.section-content{width: 100vw; display: flex; flex-direction: column; align-items: center; padding: 0;}

/* 메인검색 */
.section-content .main-search{display: flex; flex-direction: column; align-items: center; padding: 48px 24px 40px; gap: 24px; flex: none; order: 1; align-self: stretch; flex-grow: 0; z-index: 0; background-image: url(../images/search_bg.svg); background-size: contain; background-repeat: no-repeat; background-position: center;}
.section-content .main-search p{font-weight: 500; font-size: 30px; line-height: 100%; color: #ffffff; flex: none; order: 0; flex-grow: 0; margin: 0;}
.section-content .main-search .search{display: flex; flex-direction: row; align-items: flex-start; padding: 0px; width: 720px; height: 40px; flex: none; order: 1; flex-grow: 0; position: relative;}
.section-content .main-search .search input{box-sizing:  border-box; display: flex; flex-direction: row; align-items: center; padding: 16px 20px 16px 24px; gap: 4px; width: 720px; height: 40px; background: #ffffff; border: 1px solid #3937C8; border-radius: 60px; flex: none; order: 0; flex-grow: 1;}
.section-content .main-search .search button{width: 24px; height: 24px; border: 0; background: transparent; position: absolute; top: 8px; right: 20px; cursor: pointer;}

/* 메인컨텐츠 */
.section-content .main-content{display: flex; flex-direction: column; align-items: center; padding: 80px 0; gap: 10px; width: 100vw; flex: none; order: 1; flex-grow: 0;}
.section-content .main-content .desc-wrap{display: flex; flex-direction: row; align-items: center; padding: 0; gap: 40px; flex: none; order: 0; flex-grow: 0; flex-wrap: wrap; justify-content: center;}
.section-content .main-content .desc-wrap .brand-desc1{display: flex; flex-direction: column; align-items: flex-start; padding: 0; width: 210px; height: 243px; flex: 1; order: 0; flex-grow: 0;}
.section-content .main-content .desc-wrap .brand-desc2{display: flex; flex-direction: column; align-items: flex-start; padding: 0; width: 210px; height: 243px; flex: 1; order: 1; flex-grow: 0;}
.section-content .main-content .desc-wrap .brand-desc3{display: flex; flex-direction: column; align-items: flex-start; padding: 0; width: 210px; height: 243px; flex: 1; order: 2; flex-grow: 0;}
.section-content .main-content .desc-wrap img{width: 130px; height: 130px; flex: none; order: 0; flex-grow: 0; margin: 0 auto;}
.section-content .main-content .desc-wrap dl{display: flex; flex-direction: column; align-items: center; padding: 0; margin: 21px 0 0; gap: 8px; width: 210px; height: 92px; flex: none; order: 1; flex-grow: 0;}
.section-content .main-content .desc-wrap dl dt{font-weight: 600; font-size: 16px; line-height: 24px; text-align: center; flex: none; order: 0; flex-grow: 0;}
.section-content .main-content .desc-wrap dl dd{margin: 0; font-weight: 400; font-size: 14px; line-height: 140%; text-align: center; color: #828282; flex: none; order: 1; flex-grow: 0;}

/* 메인인포메이션 */
.section-content .main-info{display: flex; flex-direction: column; align-items: center; padding: 0px 0px 40px; gap: 24px; width: 100vw; flex: none; order: 2; flex-grow: 0;}
.section-content .main-info .line{width: 720px; height: 0px; border: 1px solid #e9eeff; flex: none; order: 0; flex-grow: 0;}
.section-content .main-info .notice-wrap{display: flex; flex-direction: column; align-items: flex-start; padding: 0px; gap: 8px; flex: none; order: 1; flex-grow: 0;}
.section-content .main-info .notice-block{display: flex; flex-direction: column; align-items: flex-start; padding: 4px 0; gap: 4px; max-width: 720px; flex: none; order: 0; align-self: stretch; flex-grow: 0; cursor: pointer; margin: 0;}
.section-content .main-info .notice-block dt{font-weight: 500px; font-size: 14px; line-height: 20px; flex: none; order: 0; flex-grow: 0;}
.section-content .main-info .notice-block dd{font-weight: 500px; font-size: 14px; line-height: 20px; color: #828282; flex: none; order: 1; align-self: stretch; flex-grow: 0; margin: 0;}

@media (0px <= width <= 960px) {
	.section-content .main-search p{font-size: 21px;}
	.section-content .main-search .search{max-width: 720px; width: 100%;}
	.section-content .main-search .search input{max-width: 720px; width: calc(100vw - 48px);}
	.section-content .main-info .line{max-width: 720px; width: calc(100vw - 48px);}
	.section-content .main-info .notice-wrap{max-width: 720px; width: calc(100vw - 48px);}
	.section-content .main-info .notice-block{max-width: 720px; width: calc(100vw - 48px);}
}

/* Footer */
#footer{position: relative; z-index: 1; width: 100vw; min-height: 210px; color: rgba(255, 255, 255, 0.7);}
#footer .footer-content{max-width: 720px; margin: 0 auto; overflow: auto; padding: 0 24px;}
#footer .footer-content .left{float: left; vertical-align: top; text-align: left; margin: 48px 10px 48px 0; font-size: 12px; font-weight: 500; line-height: 19.2px; width: calc(100% - 90px); }
#footer .footer-content .left address{font-style: normal;}
#footer .footer-content .left ul{padding: 0; margin: 0;}
#footer .footer-content .left ul li{list-style: none; padding-left: 0;}
#footer .footer-content .right{float: right; margin: 48px 0; font-size: 10px; line-height: 10px; width: 80px;}

#footer .footer-content .right .btn{width: 80px; height: 22px; box-sizing: border-box; text-align: center; border: 1px solid rgba(255,255,255,0.2); margin-bottom: 8px;}
#footer .footer-content .right .btn a{display: inline-block; padding: 6px 0;}

/* gototop */
.gototop{position: fixed; bottom: 245px; right: 16px; cursor: pointer; display: none;}
.gototop img{width: 56px; height: 56px; border-radius: 28px; box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);}