<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>등기통</title>

    <!-- js -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">

 </head>
<body class="index-page">
    <!-- Header -->
    <div data-include-path="header.html"></div>
    <!-- Header-end -->
    <section>
        <div class="section-content">
            <div class="my-content">
                <div class="content-top">
                    <p>내정보</p>
                </div>
                <div class="my-data">
                    <div class="profile-card">
                        <div class="profile-image">
                            <img src="./images/profile.svg" alt="프로필이미지">
                            <div class="profile-txt">
                                <div class="profile-name main-blue">OOO님</div>
                                <ul>
                                    <li class="phone">010-0000-0000</li>
                                    <li class="email">subjun85@naver.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="profile-content-area"></div>
                        <div class="profile-btn">
                            <button class="change">정보수정</button> 
                            <button class="resignation">탈퇴신청</button>
                        </div>
                    </div>
                    <div class="ticket-card">
                        <dl>
                            <dt>사용가능한 열람권</dt>
                            <dd class="main-blue">20개</dd>
                        </dl>
                        <div class="ticket-content-area"></div>
                        <div class="ticket-btn"> 
                            <button class="buy">열람권 구매 +</button>
                        </div>
                    </div>
                    <div class="cash-card">
                        <dl>
                            <dt>전자민원캐시</dt>
                            <dd class="main-blue">-</dd>
                        </dl>
                        <div class="cash-content-area"></div>
                        <div class="cash-btn">
                            <button class="modify">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ticket-modal" id="link-open">
                <div class="ticket-modal-title">
                    <h3>등기열람권 충전하기</h3>
                    <button class="ticket-modal-close"><img src="./images/close.svg" alt="등기열람 닫기"></button>
                </div>
                <form action="" class="ticket-modal-content-form" name="ct">
                    <div class="ticket-modal-content">
                        <div class="ticket-select-list-wrap">
                            <ul class="ticket-select-list">
                                <li>
                                    <input type="radio" name="ticketcount" id="ea500" value="500"> 
                                    <label for="ea500">500회 등기열람권</label>
                                    <div class="frame"></div>
                                    <p>500 X (등기소700원 + 서비스300원)</p>
                                </li>
                                <li>
                                    <input type="radio" name="ticketcount" id="ea100" value="100" checked> 
                                    <label for="ea100">100회 등기열람권</label>
                                    <div class="frame"></div>
                                    <p>100 X (등기소700원 + 서비스300원)</p>
                                </li>
                                <li>
                                    <input type="radio" name="ticketcount" id="ea30" value="30"> 
                                    <label for="ea30">30회 등기열람권</label>
                                    <div class="frame"></div>
                                    <p>30 X (등기소700원 + 서비스400원)</p>
                                </li> 
                                <li>
                                    <input type="radio" name="ticketcount" id="ea10" value="10"> 
                                    <label for="ea10">10회 등기열람권</label>
                                    <div class="frame"></div>
                                    <p>10 X (등기소700원 + 서비스600원)</p>
                                </li>
                                <li>
                                    <input type="radio" name="ticketcount" id="ea1" value="1"> 
                                    <label for="ea1">1회 등기열람권</label>
                                    <div class="frame"></div>
                                    <p>1 X (등기소700원 + 서비스800원)</p>
                                </li>
                            </ul>
                            <div class="minwon-cash">
                                <input type="checkbox" name="minwon-cash" id="MC" value="minwon">
                                <label for="MC">전자민원캐시로 등기수수료 결제</label>
                            </div>
                        </div>
                        <div class="calculation">
                            <div class="service-cost-wrap">
                                <div class="commission-wrap">
                                    <div class="minwon-label">전자민원캐시로 결제</div>
                                    <div class="commission-cost">
                                        <div class="commission-txt">등기수수료</div>
                                        <div class="commission-num">70,000</div>
                                    </div>
                                </div>
                                +
                                <div class="service-cost">
                                   <div class="service-txt">서비스금액</div>
                                   <div class="service-num">30,000</div>
                                </div>
                                =
                            </div>
                            <div class="total-cost-wrap">
                                <p class="main-blue">총</p>
                                <div class="total-cost">
                                    <div class="total-txt">결제금액</div>
                                    <div class="total-num main-blue">100,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-modal-btn">
                        <button class="main-blue">신용카드 결제</button>
                        <button class="main-blue">가상계좌 입금</button>
                        <button class="main-blue">실시간 계좌이체</button>
                    </div>
                </form>
                <div class="line"></div>
                <ul class="notice">
                    <p>등기열람권 환불 정책</p>
                    <li>등기통에서 등기부등본을 열람할 수 있었다면 등기열람권을 사용한 것으로 간주하며 사용분에 대해서 환불이 불가합니다.</li>
                    <li>인터넷 등기소 또는 등기통 서비스 상의 문제로 등기통에서 등기부등본을 열람할 수 없었다면 등기열람권은 차감되지 않으며 전액 환불 신청가능합니다.</li>
                    <li>등기통에서 등기열람권의 유효기간은 결제한 날로부터 1년입니다. 유효기간이 지난 열람권은 사용하실 수 없습니다.</li>
                    <li>전자민원캐시의 유효기간은 등기통 서비스와 무관하게 전자민원캐시 사이트의 약관에 따릅니다. 전자민원캐시 이용 시, 참고하시길 부탁드립니다.</li>
                </ul>
            </div>
            <div class="ticket-modal-dim"></div>
            <div class="ticket-modal-alert">
                <p>결제에 실패 했습니다.</p>
                <div class="alert-btn-set">
                    <button class="alert-failed main-blue-bg">확인</button>
                </div>
                <button class="ticket-modal-alert-close">
                    <img src="./images/close.svg" alt="결제실패 창 닫기">
                </button>
            </div>
            <div class="ticket-modal-alert-dim"></div>
            <div class="change-modal">
                <div class="change-modal-title">
                    <h3>정보수정</h3>
                    <button class="change-modal-close"><img src="./images/close.svg" alt="등기열람 닫기"></button>
                </div>
                <form action="" class="change-modal-content-form">
                    <div class="change-form-wrap">
                        <div class="change-phone-form">
                            <label for="phone">휴대폰번호 인증 (#휴대폰번호는 로그인 ID로 사용됩니다.)</label>
                            <div class="change-phone-form-content">
                                <input type="text" name="phone" id="phone" placeholder="010-0000-0000" maxlength="13" required disabled>
                                <button type="button" class="phone-cert">인증완료</button>
                                <span class="error"></span>
                            </div>
                        </div>
                        <div class="change-pw-form">
                            <label for="pw">비밀번호 *</label>
                            <input type="password" name="pw" id="pw" placeholder="*******" required>
                            <span class="error">필수입력 항목입니다.</span>
                        </div>
                        <div class="change-pwconfirm-form">
                            <label for="pwconfirm">비밀번호 확인 *</label>
                            <input type="password" name="pwconfirm" id="pwconfirm" placeholder="*******" required>
                            <span class="error">필수입력 항목입니다.</span>
                        </div>
                        <div class="change-name-form">
                            <label for="name">사용자 이름 *</label>
                            <input type="text" name="name" id="name" required placeholder="홍길동">
                            <span class="error">필수입력 항목입니다.</span>
                        </div>
                        <div class="change-email-form">
                            <label for="email">이메일 주소 (#이전 열람기록을 불러올 수 있습니다.) * </label>
                            <input type="email" name="email" id="email" required placeholder="jeongnnnn@gmail.com"> 
                             <span class="error">잘못된 정보입니다.</span>
                        </div>
                    </div>
                    <div class="change-m-frame"></div>
                    <div class="change-btn">
                        <button class="main-blue-bg-btn" type="button">저장</button>
                    </div>
                </form>
            </div>
            <div class="change-modal-dim"></div>
            <div class="minwoncash-modal">
                <div class="minwoncash-modal-title">
                    <h3>전자민원캐시 사용</h3>
                    <button class="minwoncash-modal-close"><img src="./images/close.svg" alt="등기열람 닫기"></button>
                </div>
                <form action="" class="minwoncash-modal-content-form">
                    <div class="minwoncash-form-wrap">
                        <div class="minwoncash-number-form">
                            <label for="mw-number">전자민원캐시 번호</label>
                            <div><input type="text" name="mw-number1" id="mw-number1" required minlength="7" maxlength="7" style="text-transform: uppercase;">-<input type="text" name="mw-number2" id="mw-number2" required minlength="4" maxlength="4" style="text-transform: uppercase;"></div>
                            <span class="error">필수입력 항목입니다.</span>
                        </div>
                        <div class="minwoncash-pw-form">
                            <label for="mw-pw">비밀번호</label>
                            <div class="minwoncash-pw-form-content">
                                <input type="password" name="mw-pw" id="mw-pw" maxlength="13" required>
                                <button type="button" class="pw-cert">인증하기</button>
                                <span class="error"></span>
                            </div>
                        </div>
                        <ul class="notice">
                            <li>구매하신 등기열람권을 사용하실 때마다, <span>입력하신 전자민원캐시에서 등기열람권 수수료 700원이 차감되기 때문에, 정확한 정보의 입력이 필요합니다</spa>.</li>
                            <li>전자민원캐시를 미리 구입, 충전하셔야 바로바로 서비스를 사용할 수 있습니다. <br><a href="https://minwon.cashgate.co.kr/main.do" class="link" target="_blank">[전자민원캐시 바로가기]</a></li>
                            <li>입력하신 결제정보(전자민원캐시번호 등)는 법원 인터넷등기소 시스템에 저장되어 열람ㆍ발급, 결제취소 및 열람ㆍ발급내역 조회 시 비밀번호로 이용됩니다.</li>
                            <li>전자민원캐시 등기열람권을 구매하시더라도 기본 등기열람권이 남아 있다면, 기본 등기열람권을 먼저 사용합니다.</li>
                            <li>해당 정보는 재판 및 수사를 위한 자료로도 활용될 수 있고, 법원 인터넷 등기소에 영구적으로 보관되며 수집 및 이용에 동의하시지 않을 경우 열람ㆍ발급 서비스를 이용하실 수 없습니다. <a href="http://www.iros.go.kr/" class="link"  target="_blank">[인터넷등기소 바로가기]</a></l>
                        </ul>
                    </div>
                    <div class="minwoncash-m-frame"></div>
                    <div class="minwoncash-btn">
                        <button class="main-blue-bg-btn" type="button">위 내용에 동의합니다.</button>
                    </div>
                </form>
            </div>
            <div class="minwoncash-modal-dim"></div>
            <div class="secession-modal-alert">
                <p>탈퇴하시겠습니까?</p>
                <div class="alert-btn-set">
                    <button class="alert-secession">예</button>
                    <button class="alert-no" onClick="window.location.reload()">아니요</button>
                </div>
                <button class="secession-modal-alert-close">
                    <img src="./images/close.svg" alt="로그인 안내 창 닫기">
                </button>
            </div>
            <div class="secession-modal-alert-dim"></div>
            <div class="secession-modal-alert-re">
                <p>탈퇴 후 사용자 정보는 삭제됩니다.</p>
                <div class="alert-btn-set">
                    <button class="alert-secession-re" onclick="window.open('./index-logout.html', '_self')">탈퇴</button>
                    <button class="alert-no-re" onClick="window.location.reload()">아니요</button>
                </div>
                <button class="secession-modal-alert-re-close">
                    <img src="./images/close.svg" alt="로그인 안내 창 닫기">
                </button>
            </div>
            <div class="secession-modal-alert-dim"></div>
            
            <div class="recent-content">
                <div class="wrap-tab">
                    <div class="tab">
                        <button class="btn-tab-00 on" data-tab="Used">등기 열람권 이용 내역</button>
                        <button class="btn-tab-01" data-tab="Purchase">최근 구매내역</button>
                    </div>
                    <div class="line"></div>
                    <div class="recent-caution-wrap">
                        <div class="recent-caution">
                            <div class="caution-img">
                                <img src="./images/caution.svg" alt="주의사항">
                            </div>
                            <p>최신 30건까지 보여집니다. 이전 정보가 필요하시면 1:1 문의를 남겨주세요.</p>
                        </div>
                    </div>
                </div>
                <table class="table on" id="Used">
                    <thead>
                        <tr>
                            <th class="main-blue">일시</th>
                            <th class="main-blue">내용</th>
                            <th class="main-blue">잔여 열람권</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-06-01 13:41</td>
                            <td>등기열람권
                            <span>
                                -30회
                                환불/패널티
                            </span>
                            <span class="ng-binding ng-hide">
                                
                                
                            </span>
                            </td>
                            <td>
                            등기열람권
                            29회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-06-01 13:24</td>
                            <td>등기열람권
                            <span>
                                30회
                                결제 충전
                            </span>
                            <span class="ng-binding ng-hide">
                            </span>
                            </td>
                            <td>
                            등기열람권
                            59회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-06-01 12:39</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            29회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-05-19 23:47</td>
                            <td>등기열람권
                            <span>
                                30회
                                결제 충전
                            </span>
                            <span class="ng-binding ng-hide">
                            </span>
                            </td>
                            <td>
                            등기열람권
                            30회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-01-14 09:57</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            0회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-01-09 23:01</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            1회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2022-01-03 13:44</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            2회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-28 16:08</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            3회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-28 16:05</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            4회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-25 17:03</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            5회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-25 17:02</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                1회
                                등기 차감
                            </span>
                            <span>
                                환불 (열람 실패 등)
                                
                            </span>
                            </td>
                            <td>
                            등기열람권
                            6회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-25 16:57</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            5회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-25 12:34</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            6회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-23 15:20</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            7회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-17 10:46</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                1회
                                등기 차감
                            </span>
                            <span>
                                환불 (열람 실패 등)
                                
                            </span>
                            </td>
                            <td>
                            등기열람권
                            8회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-17 10:46</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            7회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-17 10:39</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                1회
                                등기 차감
                            </span>
                            <span>
                                환불 (열람 실패 등)
                                
                            </span>
                            </td>
                            <td>
                            등기열람권
                            8회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-17 10:39</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            7회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-10 13:04</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            8회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-08 10:46</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            9회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-02 12:57</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            10회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-02 10:43</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            11회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-12-01 16:26</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            12회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-30 21:17</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            13회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-30 21:14</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            14회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-30 14:59</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            15회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-16 14:49</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            16회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-15 19:58</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            17회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-15 16:27</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            18회</td>
                        </tr>
                        <tr ng-repeat="recentLog in recentLogList">
                            <td>2021-11-15 12:45</td>
                            <td>등기열람권
                            <span class="ng-binding ng-hide">
                                -1회
                                등기 차감
                            </span>
                            <span>
                                
                                이용
                            </span>
                            </td>
                            <td>
                            등기열람권
                            19회</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" id="Purchase">
                    <thead>
                        <tr>
                            <th class="main-blue">구매 일시</th>
                            <th class="main-blue">구매 상품</th>
                            <th class="main-blue">결제 금액</th>
                            <th class="main-blue">결제 방식</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2022-06-01 13:24</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">BC카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2022-05-19 23:47</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">국민KB카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-10-30 16:17</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-08-19 10:16</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">BC카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-07-12 17:45</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-06-02 11:50</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-04-06 12:22</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-03-06 17:07</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2021-01-27 19:23</td>
                            <td class="ng-binding">30회 등기열람권 (50% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">33,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">BC카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-10-17 12:35</td>
                            <td class="ng-binding">30회 등기열람권 (75% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">27,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-08-25 12:58</td>
                            <td class="ng-binding">30회 등기열람권 (75% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">27,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">BC카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-06-24 11:21</td>
                            <td class="ng-binding">30회 등기열람권 (75% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">27,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-05-09 15:45</td>
                            <td class="ng-binding">30회 등기열람권 (75% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">27,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-02-05 18:55</td>
                            <td class="ng-binding">20회 등기열람권(전자민원캐시) (99% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">100원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">국민KB카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-01-21 13:45</td>
                            <td class="ng-binding">30회 등기열람권 (40% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">27,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">BC카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2020-01-21 13:43</td>
                            <td class="ng-binding">30회 등기열람권 (40% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">27,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">BC카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                        <tr ng-repeat="recentPay in recentPayList">
                            <td class="ng-binding">2019-12-20 15:13</td>
                            <td class="ng-binding">40회 등기열람권 (40% 할인) 
                                <span ng-show="recentPay.payStatus==1">구매</span>
                                <span ng-show="recentPay.payStatus==7" class="ng-binding ng-hide">환불 ()</span></td>
                            <td class="ng-binding">24,000원</td>
                            <td>
                                <span ng-show="recentPay.pay_method=='card'" class="ng-binding">신한카드</span>
                                <span ng-show="recentPay.pay_method=='vbank'" class="ng-hide">가상계좌</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <div data-include-path="footer.html"></div>
    <!-- Footer-end -->
 
    <script>
        window.addEventListener('load', function() {
            var allElements = document.getElementsByTagName('*');
            Array.prototype.forEach.call(allElements, function(el) {
                var includePath = el.dataset.includePath;
                if (includePath) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            el.outerHTML = this.responseText;
                        }
                        $('.nav ul li').removeClass('on');
                        $('.m-nav ul li').removeClass('on');
                        $('.m-nav ul li:nth-child(3)').addClass('on');
                    };
                    xhttp.open('GET', includePath, true);
                    xhttp.send();
                }
            });
        });
    </script>

    <!-- js.common -->
    <script src="./js/common.js"></script>
</body>
</html>